<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://cdn.iconscout.com/icon/free/png-256/javascript-2752148-2284965.png" />

  <title>Skills</title>

  <link rel="stylesheet" href="skills.css">
</head>

<body>

  <div class="content">
    <header>
      <div class="div-nome-header">Portifólio</div>
      <nav>
        <ul>
          <a href="/Portifolio/views/home/home.html">home</a>
          <a href="/Portifolio/views/portifolio/portifolio.html">projetos/portifólio</a>
          <a href="/Portifolio/views/skills/skills.html">skills</a>
        </ul>
      </nav>
      <a href="/Portifolio/views/contact/contact.html" class="a-contato">contato</a>
    </header>

    <main>
      <div class="div-formacao-academica">
        <h3>Formação acadêmica</h3>
        <div class="box-scroll justify-content-div">
          <img src="../../assets/logo-amf.png" alt="">
          <span>
            Antonio Meneghetti Faculdade
            Bacharelando em Sistemas de Informação
            2020 – 2024
          </span>
        </div>
      </div>

      <div class="div-formacao-academica">
        <h3>Ferramentas e tecnologias</h3>
        <div class="box-scroll">
          <img src="../../assets/javascript-icon.png" alt="">
          <span>JavaScript</span>
          <hr>

          <img src="../../assets/nodejs-icon.png" alt="">
          <span>NodeJs</span>
          <hr>

          <img src="../../assets/react-icon.png" alt="">
          <span>ReactJs</span>
          <hr>

          <img src="../../assets/vuejs-icon.png" alt="">
          <span>VueJs</span>
          <hr>

          <img src="../../assets/adonisjs-icon.jpg" alt="">
          <span>AdonisJs</span>
          <hr>

          <img src="../../assets/css-icon.png" alt="">
          <span>CSS</span>
          <hr>

          <img src="../../assets/html-icon.png" alt="">
          <span>HTML</span>
        </div>
      </div>

      <div class="div-formacao-academica">
        <h3>Licenças e certificados</h3>
        <div class="box-scroll justify-content-div">
          <img src="../../assets/scrum-icon.png" alt="">
          <span>
            Scrum Fundamentals Certified
            SCRUMstudy - Accreditation Body for Scrum and Agile
            Emitido em mar. de 2020. Expira em mar. de 2023
          </span>
        </div>
      </div>
    </main>

    <footer>
    </footer>

  </div>

</body>

</html>