<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://cdn.iconscout.com/icon/free/png-256/javascript-2752148-2284965.png" />

  <title>Home</title>

  <link rel="stylesheet" href="home.css">
  <link rel="stylesheet" href="foto-perfil.css">
</head>

<body>

  <div class="content">
    <header>
      <div class="div-nome-header">Portifólio</div>
      <nav>
        <ul>
          <a href="/Portifolio/views/home/home.html">home</a>
          <a href="/Portifolio/views/portifolio/portifolio.html">projetos/portifólio</a>
          <a href="/Portifolio/views/skills/skills.html">skills</a>
        </ul>
      </nav>
      <a href="/Portifolio/views/contact/contact.html" class="a-contato">contato</a>
    </header>

    <main>
      <div class="div-nome-main">
        <hr class="hr-nome">
        <h1 class="h1-nome">Emanoel Loreto,</h1>
        <h1 class="h1-cargo">Desenvolvedor JavaScript Júnior</h1>

        <div class="div-span-sobre">
          <span>
            Iniciei a estudar programação do absoluto zero em 2019, com um projeto da <b>Antonio Meneghetti Faculdade</b>
            em parceria com a empresa <b>Meta, Digital. Simple. Human.</b> chamado <b>Jovem e Tecnologia</b>, do qual fui aluno destaque e recebi a
            oportunidade de estagiar como desenvolvedor na Meta. E após 1 ano e 4 meses como estágiario, atuando em projetos
            internos, fui efetivado como Desenvolvedor JavaScript Júnior, onde hoje atuo em nosso cliente Benoit.
          </span>
        </div>

        <div class="div-buttons">
          <a href="/Portifolio/views/contact/contact.html" class="a-contate-me">Contate-me</a>
          <a href="/Portifolio/views/portifolio/portifolio.html" class="a-ver-portifolio">Ver portifólio</a>
        </div>
      </div>
    </main>

    <aside>
      <div class="hvr-bob hvr-float-shadow">
        <!-- <h2>Vote em mim</h2> -->
        <img src='../../assets/perfil.jpeg'/>
      </div>
    </aside>

    <footer />
  </div>

</body>

</html>