@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 920px;
  
  background: linear-gradient(235deg, #15d7ff, #e700ff);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 41s ease infinite;
  -moz-animation: AnimationName 41s ease infinite;
  animation: AnimationName 41s ease infinite;
}

@-webkit-keyframes body {
  0%{background-position:0% 88%}
  50%{background-position:100% 13%}
  100%{background-position:0% 88%}
}
@-moz-keyframes body {
  0%{background-position:0% 88%}
  50%{background-position:100% 13%}
  100%{background-position:0% 88%}
}
@keyframes body {
  0%{background-position:0% 88%}
  50%{background-position:100% 13%}
  100%{background-position:0% 88%}
}

.content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 10vh 65vh 10vh;
  grid-template-areas: 
  "header header"
  "main aside"
  "footer footer";
  width: 90vw;
  min-width: 920px;
}

header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 50px 50px 0px 0px;
}

.div-nome-header {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  pointer-events: none;
}

header > nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: .8rem;
}

nav > ul > a {
  text-decoration: none;
  color: black;
  padding: 0;
  transition: all 0.2s ease;
}

nav > ul > a:first-child {
  color: #7568EF;
  font-weight: bold;
  background-color: rgb(164, 162, 181, 8%);
  padding: 5px;
  border-radius: 8px;
}

nav > ul > a:hover {
  color: #7568EF;
  font-weight: bold;
  background-color: rgb(164, 162, 181, 8%);
  padding: 5px;
  border-radius: 8px;
}

.a-contato {
  text-decoration: none;
  color: white;
  padding: 8px;
  background-color: #7568EF;
  border-radius: 8px;
  margin-right: 20px;
  box-shadow: 0px 0px 15px 0px rgb(211, 211, 211);
  transition: background-color 0.2s ease;
}

.a-contato:hover, .a-contate-me:hover {
  background-color: #67548d;
}

.a-ver-portifolio:hover {
  background-color: #67548d;
  color: #fff;
}

main {
  grid-area: main;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-nome-main {
  padding: 0px 40px;
}

.div-nome-sobre {
  padding-left: 40px;
}

.hr-nome {
  width: 20%;
  margin-bottom: 10px;
  height: 5px;
  background-color: #7568EF;
  border: none;
}

.h1-nome {
  color: #3A395D;
}

.h1-cargo {
  color: #7568EF;
}

.div-span-sobre {
  margin-top: 10px;  
}

.div-span-sobre > span {
  color: #6E6D8F;
  text-align: justify;
  display: inherit;
}

.div-buttons {
  margin-top: 45px;
}

.a-contate-me {
  text-decoration: none;
  color: white;
  padding: 14px;
  background-color: #7568EF;
  border-radius: 8px;
  margin-right: 20px;
  box-shadow: 0px 0px 15px 0px rgb(211, 211, 211);
  transition: background-color 0.2s ease;
}

.a-ver-portifolio {
  text-decoration: none;
  color: #7568EF;
  padding: 14px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 0px rgb(211, 211, 211);
  transition: background-color 0.2s ease;
}

aside {
  grid-area: aside;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside > div > h2 {
  position: absolute;
  margin-top: 50px;
  margin-left: 70px;
}

aside > div > img {
  border-radius: 50%;
  height: 95%;
  margin-bottom: 50px;
  pointer-events: none;
}

footer {
  grid-area: footer;
  background-color: #fff;
  border-radius: 0px 0px 50px 50px;
}
